.debt-detail-wrapper table {
	border-collapse: collapse;
	margin: auto;
	border: solid 1px #ccc;
}

.debt-detail-wrapper table, tr, td, th {
	padding: 10px;
}

.debt-detail-wrapper th {
	text-align: left;
}

.debt-detail-wrapper h2 {
	text-align: center;
}

.debt-detail-wrapper .debt-detail-list-wrapper {
	padding:0 25%;
}

.debt-detail-wrapper .row:nth-child(odd) {
    background-color: #ccc;
}

.debt-detail-wrapper .row {
    padding: 10px;
}