.debt-detail-wrapper table {
	border-spacing: 0;
	margin: 10px auto 20px;
	border: solid 1px #aaa;
	border-radius: 10px;
}

.debt-detail-wrapper table, tr, td, th {
	padding: 10px;
}

.debt-detail-wrapper table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.debt-detail-wrapper table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.debt-detail-wrapper th {
	text-align: left;
}

.debt-detail-wrapper h2 {
	text-align: center;
}

.debt-detail-wrapper .debt-detail-list-wrapper {
	padding:0 25%;
}

.debt-detail-wrapper .row:nth-child(odd) {
    background-color: #ccc;
}

.debt-detail-wrapper .row {
    padding: 10px;
}