.debt-card-wrapper {
	margin: 20px;
	display: flex;
	box-shadow: 10px 8px 5px -3px #ccc;
	border-radius: 5% 0 0 5%;
	width:20vw;
	border: solid 1px #ddd;
	border-radius: 15px 0 0 15px
}

.debt-card-wrapper .status-sleeve {
	border-radius: 15px 0 0 15px;
	width:20px;
}

.debt-card-wrapper .status-sleeve.late{
	background-color: #ef476f;
	box-shadow: -2px 3px 8px -1px #ef476f;
}

.debt-card-wrapper .status-sleeve.attention{
	background-color: #ffd166;
	box-shadow: -2px 3px 8px -1px #ffd166;
}

.debt-card-wrapper .status-sleeve.ok{
	background-color: #118ab2;
	box-shadow: -2px 3px 8px -1px #118ab2;
}

.debt-card-wrapper .content {
	background-color: #fff;
	padding: 10px;
}

.debt-card-wrapper .status {
	background-color: #fff;
	width: 100%;
	font-size:1.2rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.debt-card-wrapper .status.late {
	color: #BC1038;
}

.debt-card-wrapper .status.attention {
	color: #F5AB00;
}

.debt-card-wrapper .status.ok {
	color: #09485D;
}
