<div class="debt-wrapper">
	<h2>Sua{{!showDetail?'s':''}} Dívida{{!showDetail?'s':''}}</h2>
	
	<div [hidden]="showDetail" class="debt-content-wrapper list">
		<app-debt-card *ngFor="let debt of debts; let i = index" [debt]="debt" (click)="selectDebt(i)"></app-debt-card>

		<p *ngIf="!debts || debts.length <= 0">
			Parece que você não possui nenhuma dívida atualmente. Continue assim :)
		</p>
	</div>

	<div class="debt-content-wrapper detail" [hidden]="!showDetail">
		<span (click)="deselectDebt()">Voltar</span>

		<app-debt-detail *ngIf="detailDebt" [debt]="detailDebt"></app-debt-detail>
	</div>
</div>