<div class="debt-wrapper">
	<h2>Sua{{!showDetail?'s':''}} Dívida{{!showDetail?'s':''}}</h2>
	
	<div [hidden]="showDetail" class="debt-content-wrapper list">
		<app-debt-card [debt]="debts[0]" (click)="selectDebt(0)"></app-debt-card>
		<app-debt-card [debt]="debts[1]" (click)="selectDebt(1)"></app-debt-card>
		<app-debt-card [debt]="debts[2]" (click)="selectDebt(2)"></app-debt-card>
	</div>
	
	<div class="debt-content-wrapper detail" [hidden]="!showDetail">
		<span (click)="deselectDebt()">Voltar</span>

		<app-debt-detail *ngIf="detailDebt" [debt]="detailDebt"></app-debt-detail>
	</div>
</div>