.debt-wrapper h2 {
	margin-left: 20px;
}

.debt-wrapper .debt-list-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	margin: auto;
	border: solid 1px #ccc;
	border-radius: 15px;
	box-shadow: 4px 6px 8px 2px #ccc;
	padding: 20px;
	justify-content: space-between;
	background-color: #fdfdfd;
}